<!Doctype html>
<html>

<head>
    <title>Crypto Emotion</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='home.css') }}">
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.0/chart.min.js"
        integrity="sha512-asxKqQghC1oBShyhiBwA+YgotaSYKxGP1rcSYTDrB0U6DxwlJjU59B67U8+5/++uFjcuVM8Hh5cokLjZlhm3Vg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/app.js')}}"></script>

</head>

<body>
    <header>
        <a href="/"><span class="c-primary"> CryptoEmotion </span></a>
    </header>
    <div class="body">
        {% block content %}
        {% endblock%}
    </div>
    <footer>

    </footer>
    <script>
        feather.replace()
    </script>
</body>

</html>