{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="home">
        <div class="home-intro b-four">
            <h1 class="c-five">compare social emotion against the market price of various cryptocurrencies</h1>
            <i class="feather-48" data-feather="bar-chart"></i>
        </div>
        <h1 class="c-primary">Choose Your Crypto Currency</h1>
        <div class="home-choice">
            <a href="/crypto/bitcoin" class="b-primary c-four hb-secondary">
                <span class="centrify">Bitcoin</span></a>
            <a href="/crypto/ethereum" class="b-primary c-four hb-secondary">
                <span class="centrify">Ethereum</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}